/* FASTE CSS REGLER - MÅ IKKE ÆNDRES */
img {
  width: 100%;
  height: auto;
}
/* navigations menu */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--farve_4);
  border: 7px var(--farve_2) solid;
  border-radius: 15px;
  height: 100px;
}

.logo img {
  width: 100px;
  height: 100px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 5px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: var(--farve_5);
  text-decoration: none;
  transition: color 0.3s;
  text-align: start;
  font-family: var(--font-family-ibm);
  font-size: 14;
}

.menu a:hover {
  color: var(--farve_1);
}

.burger {
  width: 50px;
  height: 40px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--farve_5);
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger {
  display: none;
}
.line {
  height: 10px;
  width: auto;
  color: var(--farve_5);
}
/* SOME IKONER */
.some_ikon {
  align-items: center;
  display: flex;
  height: 50px;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--farve_4);
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: var(--border-radius);
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
  .logo {
    justify-content: start;
  }
  .some_ikoner {
    order: -1;
  }
}
/* Animation */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.burger {
  animation: pulse 2s ease-in-out infinite;
}
.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* footer */
.h2_footer {
  size: 32;
  color: var(--farve_5);
  font-family: var(--font-family-playfairdisplay);
  font-weight: var(--pd-semibold);
  margin-bottom: 10px;
}
.h4_footer {
  size: 32;
  color: var(--farve_5);
  font-weight: var(--pd-regular);
  margin-bottom: 10px;
}

footer {
  background-color: var(--farve_4);
}
.footer_section {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/* KONTAKT KNAP */
.kontakt_knap {
  border-radius: var(--border-radius);
  border: var(--farve_5) solid 1px;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.5);
  background-color: #c3af95;
  color: var(--farve_5);
  width: 177px;
  height: auto;
  font-size: 36px;
  font-family: var(--font-family-playfairdisplay);
  font-weight: var(--pd-semibold);
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
}
/* Desktop footer */

@media screen and (min-width: 768px) {
  .footer_section {
    max-width: 1200px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    align-items: start;
    align-self: center;
    margin: 0 auto;
  }
  .footer_knap_osv {
    align-items: first baseline;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .kontakt_knap {
    text-align: center;
  }
  .footer_section :first-child {
    margin-right: 50px;
  }
}

/* FOOTER SLUTTER HER */
/* HER KOMMER CUSTOM PROPERTIES */

html {
  /* FARVER */
  --farve_1: #714000;
  --farve_2: #efeadd;
  --farve_3: #ffffff;
  --farve_4: #faf7f1;
  --farve_5: #382104;
  --farve_6: #c3af95;

  /* FONTS OG WEIGHTS*/
  /* LORA */
  --font-family-lora: "Lora", serif;
  --lora-regular: 400;
  --lora-medium: 500;
  --lora-semibold: 600;
  --lora-bold: 700;

  /* PLAYFAIR DISPLAY */
  --font-family-playfairdisplay: "Playfair Display", serif;
  --pd-regular: 400;
  --pd-medium: 500;
  --pd-semibold: 600;
  --pd-bold: 700;
  --pd-extrabold: 800;
  --pd_black: 900;

  /* IBM PLEX MONO */
  --font-family-ibm: "IBM Plex Mono", monospace;
  --ibm-medium: 500;
  /* ibm medium er den eneste weight vi bruger til ibm */

  /* borders */
  --border-radius: 15px;

  /* Skriftstørrelser */
  --h1-size: 40px;
}

/* HER SLUTTER CUSTOM PROPERTIES */
