/* Mobile*/
.kontakt-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* Form styling */
.kontakt-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: solid 2px #000000;
  padding: 30px;
  border-radius: 15px;
  background-color: #faf7f1;
}

.kontakt-form label {
  display: block;

  font-weight: 600;
  font-family: "lora", serif;
  font-size: 20px;
  font-weight: 500;
}

.kontakt-form input,
.kontakt-form textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 1rem;
  font-family: inherit;
  box-sizing: border-box;
}

.kontakt-form textarea {
  min-height: 150px;
  resize: vertical;
}

.kontakt-form button {
  padding: 0.75rem 2rem;
  background-color: #382104;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "lora", serif;
  font-weight: 400;
  font-size: 20px;
}

.kontakt-form button:hover {
  background-color: #555;
}

.adresse {
  margin-top: 3rem;
  font-style: normal;
  line-height: 1.5;
}

.h1-kontakt {
  font-family: "playfair display", serif;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 100px;
}
P {
  font-family: "lora", serif;
  font-size: 20px;
  font-weight: 500;
  margin: 5px;
}

/* Desktop */
@media (min-width: 768px) {
  .kontakt-grid {
    grid-template-columns: 1fr 1fr;
    padding: 3rem 2rem;
  }
}
