/* Mobile-first */
.om-os-paragraph1 {
  font-family: "lora", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin-bottom: 50px;
}

body {
  background-color: var(--farve_2);
}

.h1-om-os {
  font-family: "playfair display", serif;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 200px;
}

.h1-om-os2 {
  font-family: "playfair display", serif;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.fotogrid-om-os {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.om-os-foto1 {
  border: 2px solid var(--farve_5);
  max-width: 300px;
  max-height: 450px;
  justify-content: center;
  margin: 0 auto;
}

.om-os-foto1 img {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  max-height: 450px;
}

/* Desktop version */
@media (min-width: 768px) {
  .om-os-paragraph1 {
    font-size: 15px;
    margin-left: 300px;
    margin-right: 300px;
  }
  .fotogrid-om-os {
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
}
